version: '3'
services:
  app:
    build:
      context: .
      dockerfile: ./app/Dockerfile
    links:
      - db
    volumes:
      - ./app:/app
    tty: true
    ports:
      - '5000:5000'
    environment:
      - FLASK_APP=rest.py
      - FLASK_DEBUG=1
      - FLASK_ENV=development
      - 'RUN=flask run --host=0.0.0.0 --port=5000'
    command: flask run --host=0.0.0.0 --port=5000

  db:
    platform: linux/x86_64
    image: mysql:8.0.21
    restart: unless-stopped
    ports:
      - '30000:3306'
    environment:
      MYSQL_ROOT_PASSWORD: root
    volumes:
      - ./db:/docker-entrypoint-initdb.d/:ro
      - dbdata:/var/lib/mysql-files

volumes:
  dbdata:
